In [1]:
import os
import pandas as pd
import requests
import datetime
import calendar
from eod import EodHistoricalData
from dotenv import load_dotenv


load_dotenv()
api_key = os.getenv("EOD_API_KEY")
client = EodHistoricalData(api_key)

In [2]:
###CAD/USD pair closing
ticker = "USDCAD.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"

cad_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
cad_forex = pd.DataFrame(cad_forex)
cad_forex = cad_forex.set_index('date')
cad_forex = cad_forex[['close']]
cad_forex = cad_forex.rename(columns={"close":"USDCAD"})
cad_forex = cad_forex.dropna()
display(cad_forex)

            USDCAD
date
2023-04-17  1.3393

In [3]:
###CAD/EUR pair closing
ticker = "EURCAD.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"

eur_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
eur_forex = pd.DataFrame(eur_forex)
eur_forex = eur_forex.set_index('date')
eur_forex = eur_forex[['close']]
eur_forex = eur_forex.rename(columns={"close":"EURCAD"})
eur_forex = eur_forex.dropna()
display(eur_forex)

            EURCAD
date
2023-04-17  1.4631

In [7]:
###JPY/CAD pair closing
ticker = "JPYCAD.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"

jpy_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
jpy_forex = pd.DataFrame(jpy_forex)
jpy_forex = jpy_forex.set_index('date')
jpy_forex = jpy_forex[['close']]
jpy_forex = jpy_forex.rename(columns={"close":"JPYCAD"})
jpy_forex = jpy_forex.dropna()
display(jpy_forex)

            JPYCAD
date
2023-04-17    0.01

In [8]:
#brlcad india/cad
###BRL/CAD pair closing
ticker = "CADBRL.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"

brl_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
brl_forex = pd.DataFrame(brl_forex)
brl_forex = brl_forex.set_index('date')
brl_forex = brl_forex[['close']]
brl_forex = brl_forex.rename(columns={"close":"CADBRL"})
brl_forex = brl_forex.dropna()
display(brl_forex)

            CADBRL
date
2023-04-17  3.6739

In [9]:
###INR/CAD pair closing
ticker = "CADINR.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"

inr_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
inr_forex = pd.DataFrame(inr_forex)
inr_forex = inr_forex.set_index('date')
inr_forex = inr_forex[['close']]
inr_forex = inr_forex.rename(columns={"close":"CADINR"})
inr_forex = inr_forex.dropna()
display(inr_forex)

             CADINR
date
2023-04-17  61.1998

In [10]:
# Concatenate all Dataframes, using an inner join.
all_indices = pd.concat([cad_forex, eur_forex, jpy_forex, brl_forex, inr_forex], axis="rows", join="outer")

all_indices.tail()

            USDCAD  EURCAD  JPYCAD  CADBRL   CADINR
date
2023-04-17  1.3393     NaN     NaN     NaN      NaN
2023-04-17     NaN  1.4631     NaN     NaN      NaN
2023-04-17     NaN     NaN    0.01     NaN      NaN
2023-04-17     NaN     NaN     NaN  3.6739      NaN
2023-04-17     NaN     NaN     NaN     NaN  61.1998