In [1]:
import os
import pandas as pd
import requests
import datetime
import calendar
from eod import EodHistoricalData
from dotenv import load_dotenv


load_dotenv()
api_key = os.getenv("EOD_API_KEY")
client = EodHistoricalData(api_key)

In [19]:
###CAD/USD pair closing
ticker = "USDCAD.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"
Longitude = 38
Latitude = -97
cad_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
cad_forex = pd.DataFrame(cad_forex)
cad_forex = cad_forex.set_index('date')
cad_forex = cad_forex[['close']]
cad_forex = cad_forex.rename(columns={"close":"USDCAD"})
cad_forex['Longitude'] = [Longitude]
cad_forex['Latitude'] = [Latitude]
#cad_forex = cad_forex.dropna()
display(cad_forex)

            USDCAD  Longitude  Latitude
date
2023-04-17  1.3393         38       -97

In [21]:
###CAD/EUR pair closing
ticker = "EURCAD.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"
Longitude = 54
Latitude = -2
eur_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
eur_forex = pd.DataFrame(eur_forex)
eur_forex = eur_forex.set_index('date')
eur_forex = eur_forex[['close']]
eur_forex = eur_forex.rename(columns={"close":"EURCAD"})
eur_forex['Longitude'] = [Longitude]
eur_forex['Latitude'] = [Latitude]
eur_forex = eur_forex.dropna()
display(eur_forex)

            EURCAD  Longitude  Latitude
date
2023-04-17  1.4631         54        -2

In [22]:
###JPY/CAD pair closing
ticker = "JPYCAD.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"
Longitude = 36
Latitude = 138
jpy_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
jpy_forex = pd.DataFrame(jpy_forex)
jpy_forex = jpy_forex.set_index('date')
jpy_forex = jpy_forex[['close']]
jpy_forex = jpy_forex.rename(columns={"close":"JPYCAD"})
jpy_forex['Longitude'] = [Longitude]
jpy_forex['Latitude'] = [Latitude]
jpy_forex = jpy_forex.dropna()
display(jpy_forex)

            JPYCAD  Longitude  Latitude
date
2023-04-17    0.01         36       138

In [24]:
#brlcad india/cad
###BRL/CAD pair closing
ticker = "CADBRL.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"
Longitude = 20
Latitude = 77
brl_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
brl_forex = pd.DataFrame(brl_forex)
brl_forex = brl_forex.set_index('date')
brl_forex = brl_forex[['close']]
brl_forex = brl_forex.rename(columns={"close":"CADBRL"})
brl_forex['Longitude'] = [Longitude]
brl_forex['Latitude'] = [Latitude]
brl_forex = brl_forex.dropna()
display(brl_forex)

            CADBRL  Longitude  Latitude
date
2023-04-17  3.6739         20        77

In [25]:
###INR/CAD pair closing
ticker = "CADINR.FOREX"
start_date = "2023-04-17" 
end_date = "2023-04-17"
Longitude = 62
Latitude = 10
inr_forex = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
inr_forex = pd.DataFrame(inr_forex)
inr_forex = inr_forex.set_index('date')
inr_forex = inr_forex[['close']]
inr_forex = inr_forex.rename(columns={"close":"CADINR"})
inr_forex['Longitude'] = [Longitude]
inr_forex['Latitude'] = [Latitude]
inr_forex = inr_forex.dropna()
display(inr_forex)

             CADINR  Longitude  Latitude
date
2023-04-17  61.1998         62        10